.App {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  text-decoration: none;
  color: black;
  margin-left: 10px;
}
a:hover {
  text-decoration: underline;
}

.slider {
  flex: 1;
  max-width: 80vw;
  overflow: hidden;
  position: relative;
  margin-top: 30px;
  height: 480px;
}

.slider .slide-track {
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(270px * 10);
}

.slider .slide-track:hover {
  animation-play-state: paused;
}

.slider .slide {
  cursor: pointer;
  min-width: 250px;
  max-width: 250px;
  height: 440px;
  margin-left: 10px;
  margin-right: 10px;
  transition: padding-top ease 0.2s;
}

.slider .slide:hover {
  position: relative;
  padding-top: 20px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-270px * 10));
  }
}

.card_front {
  max-width: 249px;
  height: 440px;
  position: relative;
  left: 1px;
  display: flex;
  overflow: hidden;
  border-radius: 20px;
  align-content: center;
  justify-items: center;
}

.card_back {
  max-width: 230px;
  display: flex;
  height: 400px;
  flex-direction: column;
  background-color: yellow;
  padding: 20px;
  border-radius: 20px;
}

/* CSS */
.button-18 {
  align-items: center;
  background-color: #f5f5f5;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 30px;
  min-width: 200px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
  background-color: yellow;
  color: black;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, 0.7);
}

.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.3);
}
